body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
  }

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    height: 70vh;
    width: 20vw;
}

.login-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
    border: 1px solid black;
}

.login-box h2{
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: bold;
}

.input{
    margin-bottom: 1rem;
    text-align: left;
}

.input label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.input input{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid;
}

.login-button{
    width: 100%;
    border: none;
    cursor: pointer;
}

/* .login-button:hover{
    background: linear-gradient(to right, #3ba0ff, #00d4ff);
} */

.extra-links {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .extra-links a {
    /* color: #4facfe; */
    text-decoration: none;
  }
  
  .extra-links span {
    font-weight: bold;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
  }