.menu {
  padding: 20px;
  text-align: center;
  background-color: #f0f5f0; /* A soft background to make the elements stand out */
}

.categories {
  margin-bottom: 20px;
}

.category-btn {
  padding: 5px 5px;
  margin: 5px;
  gap: 2.5px;
  border: none;
  background-color: #8bc349; /* Light green for category buttons */
  color: white; /* White text for contrast */
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.category-btn:hover {
  background-color: #006837; /* Dark green on hover */
  transform: scale(1.05); /* Subtle zoom effect */
}

.category-btn.active {
  background-color: #004d27; /* Darker green for the active state */
  color: white;
  font-weight: bold;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.food-item {
  width: 200px;
  text-align: center;
  border: 1px solid #006837; /* Dark green border */
  border-radius: 5px;
  padding: 10px;
  background-color: #fff; /* Keep white for food item cards */
  transition: box-shadow 0.3s, transform 0.2s;
}

.food-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Subtle zoom effect */
}

.food-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #8bc349; /* Light green border for images */
}
