.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 20vw;
    background-color: #8bc349;
    border-radius: 8px;
}

.signup-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
}

.signup-box h2{
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    color: #004d27;
}

.input{
    margin-bottom: 1rem;
    text-align: left;
}

.input label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #004d27;
}

.input input{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #004d27;
    border-radius: 4px;
    outline: none;
}

button{
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    background-color: #004d27;
    color: white;
    border-radius: 4px;
}

button:hover{
    background: linear-gradient(to right, #004d27, #8bc349);
}

.login-link{
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #004d27;
}

.login-link a{
    color: #8bc349;
    text-decoration: none;
}

.login-link a:hover{
    text-decoration: underline;
}
